<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

DATA SCIENCE OVERVIEW

Introduction

Data Science Languages :
Python, SQL, R

Data Science Libraries : Pandas, Numpy, Plotly, Seaborn, Matplotlib, Keras

Data Science Tools: Python, R, SQL, Jupiter Notebook

Arthimetic Operations: 
a=3
b=5
a+b=8

In [1]:
a=3
b=5
print(a+b)

8

In [2]:
print(a*b)

15

In [7]:
a=60
b=a/60
print(b)

1.0

Objectives: To execute Python code in Jupiter Notebook

Author : Sri Krishna Sai Chilaka